#header-cont img{
    width: 170px;
    margin-bottom:-75px;
    margin-top: -60px;   
}

nav{
    background: linear-gradient(90deg, #1c3643,#273b47 25%, #1e5372);
    /* background: linear-gradient(90deg, rgb(56, 56, 163) 35%,rgb(14, 14, 124) 10%, rgb(17, 66, 80) ); */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
    font-family: 'Benne', serif;
    font-family: 'Merriweather', serif;
}

#header-cont a:hover{
    color: rgb(91, 255, 132);
}

#nav-bar{
    color: chartreuse;
}

#footer-container{
    background: #1c3643;
    border-radius: 5px;
}

#footer-container a{
    text-decoration: none;
    color: white;
    font-family: 'Benne', serif;
    font-family: 'Merriweather', serif;
}

#main-container .carousel-inner{
    border-radius: 5px;
    margin-bottom: -20px;
}

#footer-container a:hover{
    color: rgb(91, 255, 132);
}

#main-container .carousel-inner img{
    object-fit: cover;
    max-height: 90vh;
    min-height: 50vh;
    filter: grayscale(70%);
}

#main-container{
    margin-top: 80px;
}

#carousel{
    position: relative;
    font-family: 'Merriweather', serif;
}

#carousel .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.btn-unir{
    background: rgba(91, 255, 132, 0.685);
    color: white;
}

.btn-unir:hover{
    background: rgb(91, 255, 132);
}

.btn-go{
    color: #1c3643;
}

#container-interes p{
    text-align: justify;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container-interes{
    font-family: 'Benne', serif;
    font-family: 'Merriweather', serif;
    margin-top: 90px;
}

#container-interes a{
    text-decoration: none;
    color: #20648f;
}


.card{
    border: 1px solid black;
}

.card:hover{
    box-shadow: 0px 0px 5px 0px black;
}

#container-conferencia{
    margin-top: 100px;
    font-family: 'Benne', serif;
    font-family: 'Merriweather', serif;
}

.colcont{
    background: #dad7d79f;
    border-radius: 10px;
}

#container-conferencia h1{
    color: #20648f;
    margin-bottom: 30px;
}

#container-conferencia img{
    width: 70%;
    border-radius: 10px;
    margin-left:15%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px white;
}


#container-conferencia .row-content{
    background-color:#00ffbb52 ;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

